manifest {
  description = 'ExpansionHunter tool from Illumina' 
  author = 'Pablo Prieto Barja'
}

/*  
 * default container 
 */
process.container = 'lifebitai/expansionhunter'

profiles {
	small {
		params.genome = "s3://repeat-expansion/Reference/hg19.fa"
		params.bam = "s3://repeat-expansion/ExpansionHunter/small/bam/bamlet.bam"
		params.repeats= "s3://repeat-expansion/ExpansionHunter/repeat-specs/hg19"
		params.depth = "30"
	}
}
