manifest {
  description = 'ExpansionHunter tool from Illumina'
  author = 'Pablo Prieto Barja'
}

/*
 * default container
 */
docker.enabled = true

params {

  repeats = "s3://lifebit-featured-datasets/pipelines/RepeatExpansion/ExpansionHunter/repeat-specs/hg19"
  depth = 30

  // Params for the Read Group Line to be added just in case its needed.
  rgid=4
  rglb="lib1"
  rgpl="illumina"
  rgpu="unit1"
  rgsm=20
}

profiles {
	small {
		params.genome = "s3://repeat-expansion/Reference/hg19.fa"
		params.bam = "s3://repeat-expansion/ExpansionHunter/small/bam/bamlet.bam"
		params.repeat= "s3://repeat-expansion/ExpansionHunter/repeat-specs/hg19"
		params.depth = "30"
	}
}
